[submodule "spml"]
	path = spml
	url = https://github.com/QuantuMope/cs269-project-code.git
	branch = spml_al_branch
[submodule "wsl4mis"]
	path = wsl4mis
	url = https://github.com/arvindmvepa/WSL4MIS.git
	branch = al-seg
[submodule "lvm_med"]
	path = lvm_med
	url = https://github.com/arvindmvepa/LVM-Med.git
	branch = al-seg
